@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patient Registration System</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  <b>Prepared By: Ronnie B. Cadorna, Jr.</b>
  <p>Office: Ministry of Health, BARMM</p>
</div>
